
/* michroma-regular - latin */
@font-face {
    font-family: NauSea;
    src: url('./assets/fonts/Nau Sea.otf'); 
} 

@font-face {
    font-family: Tanker;
    src: url('./assets/fonts/Tanker-Regular.otf'); 
} 